#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/*
Key positions:

00 01 02 03 04 05       06 07 08 09 10 11
12 13 14 15 16 17       18 19 20 21 22 23
24 25 26 27 28 29       30 31 32 33 34 35
36 37 38 39 40 41       42 43 44 45 46 47
48 49 50 51 52 53       54 55 56 57 58 59
                  60 61
*/

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp N3  &kp N2  &kp N4  &kp ESC  &kp N1  &kp N5  &kp F  &kp W  &kp P  &kp TAB  &kp Q  &kp B  &kp S  &kp R  &kp T  &kp LSHFT  &kp A  &kp G  &kp C  &kp X  &kp D  &kp LCTRL  &kp Z  &kp V  &trans  &trans  &trans  &trans  &trans  &trans  &kp LGUI  &kp N8  &kp N7  &kp N9  &kp N0  &kp BSPC  &kp N6  &kp U  &kp L  &kp Y  &trans  &kp DEL  &kp J  &kp E  &kp N  &trans  &trans  &kp RET  &kp M  &kp O  &kp H  &kp I  &kp SQT  &trans  &kp K  &trans  &kp DOWN  &kp LEFT  &kp UP  &kp RIGHT  &trans  &kp SPACE
            >;
        };
    };
};
